alabaster==0.7.12
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
#bmit-sin==1.1.1
certifi==2021.5.30
chardet==4.0.0
#concert==0.30.0.dev0
configparser==5.0.2
coverage==5.5
cycler==0.10.0
decorator==4.4.2
docutils==0.17.1
enum34==1.1.10
#ez-ufo-qt==0.5
futures==2.1.4
idna==2.10
imagecodecs==2019.12.31
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.4.0
importlib-resources==5.1.4
ipython==5.10.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
kiwisolver==1.1.0
MarkupSafe==2.0.1
matplotlib==3.4.2
networkx==2.5.1
nose==1.3.0
numpy==1.20.3
packaging==20.9
parso==0.8.2
pathlib==1.0.1
pathlib2==2.3.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
Pint==0.5.2
prettytable==0.7.2
prompt-toolkit==1.0.18
ptyprocess==0.6.0
pycairo==1.20.1
Pygments==2.5.2
PyGObject==3.40.1
PyOpenGL==3.1.4
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
pyqtgraph==0.11.0
python-dateutil==2.8.1
pytz==2020.4
PyYaml==5.4.1
setuptools~=28.8.0
tifffile~=2021.4.8
tofu~=0.9
scipy~=1.6.3